html, body {
    width: 100%;
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
    padding: 5px;
}
table {
    width: 100%;
    margin-bottom: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td { padding: 5px; }

.hide { display: none !important; }

.container {
    display: flex;
    flex-direction: column;
    min-width: 320px;   /* tablet breakpoint */
    padding: 10px;
}

.form-group {
    padding: 10px;
}

.row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.row__space--between { justify-content: space-between; }
.row__space--around { justify-content: space-around; }

.align--center {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
}

.align--right {
    float: right;
    align-content: right;
    justify-content: right;
}

.align--left {
    float: left;
    align-content: left;
    justify-content: left;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    cursor: pointer;
}
.btn-md {
    width: 210px;
    height: 35px;
}
.btn-primary {
    background-color: #22b8cf;
    border: 1px solid #0c8599;
    color: white;
}

.btn--link {
    background-color: transparent;
    color: inherit;
}

.btn--disguised {
    border-color: transparent;
}
.btn--disguised:focus { outline: none; } /* hiding native outline rendered on click */

.btn i { margin-right: 5px; }

.ball {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    color: black;
    margin: 10px 5px 0px 0px;
    font-family: 'Fontdiner Swanky', cursive;
}
.ball:last-child { margin-right: 0px; }
.ball span:after { color: white; mix-blend-mode: difference; }

.center { text-align: center; }

.bonus-ball {
    background: #ff6b00;
    color: white;
}

.ball.green { background-color: green; color: white;}
.ball.pink { background-color: pink; }
.ball.blue { background-color: blue;  color: white;}
.ball.orange { background-color: orange; }
.ball.black { background-color: black;  color: white;}

.color-picker {
    margin-left: 10px;
}

#btnStartGame {
    background: linear-gradient(#e6d300, #ffea00);
    border: 1px solid #b3a400;
    border-radius: 5px;
    font-size: 2em;
    font-family: 'Fontdiner Swanky', cursive;
    width: 150px;
    height: 50px;
}
